body {

background-color: black;
color: yellow;

}

h1 {

font-size: 25px;
 color:yellow

}

ul {

color:yellow;
    
font-size:25px;
    
}

ol {

    color:yellow;

    font-size:25px;
}

#lombardi {

    width: 20px;
    height:20px;
}
    
.hov{

height: 200px; 
width: 200px;
background-color: blue;
}
a:hover{

    background-color: red;
    
}

h2{

    color:yellow;

    font:bold



}
h3{
    
    color:yellow;

    font: arial bold;

    font-size:larger


}
.grid {
        
    color: yellow;


}

.franco{

    width: 500px;
}

.hines{

    width:300px;
}
.wr{
    color:yellow;
    border:color(from color srgb r g b)
}
.wrlist{

    color:yellow;
}
#logo {

text-align: center


}

.table-border-width {
    border: 1px solid;
    width: 75%;
    color: white
    
}

.table-headers-borders{
    border: 1px solid;
    color: white;
    font-size: large;
}


.td{
    color:white;
    border: 1px solid;
}
.wr{
   color:yellow;
   border: 1px solid;
 
}
ol{
    color:yellow;
}
#alltime{

    color:yellow


}
h4{
    color:yellow;
}
label{

    color: yellow;
    font-size:medium;
}
















